@tailwind base;
@tailwind components;
@tailwind utilities;

/* * Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap");

/* * Style scrollbar config */

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

/* * Style scrollbar config */

/* ! Styles */

body {
    font-family: "Montserrat", sans-serif;
}

.li-hover {
    @apply mx-4 my-6 md:my-0;
}

.a-hover {
    @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text-orange-500 duration-300;
}

/* ! Hero Section */

#hero {
    background-image: url(../assets/img/banner-home.jpg);
    background-size: 800px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
}

/* ! Hero Section */
