@tailwind base;
@tailwind components;
@tailwind utilities;

/* * Style scrollbar config */

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

/* * Style scrollbar config */

/* ! Styles */

@layer components {
}
