@tailwind base;
@tailwind components;
@tailwind utilities;

/* ! Fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap");

/* * Style scrollbar config */

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

/* * Style scrollbar config */

/* ! Styles */

body {
    font-family: "Montserrat", sans-serif;
}

/* * Header section */

.nav-Bar {
    @apply z-10 p-5 sticky top-0 bg-white shadow md:flex md:items-center md:justify-between;
}

.logo-item {
    @apply flex justify-between items-center;
}

.logo-img {
    @apply inline px-2 lg:w-full h-8;
}

.li-hover {
    @apply mx-4 my-6 md:my-0;
}

.a-hover {
    @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text-orange-500 duration-300;
}

/* ! Hero Section */

.hero-section {
    @apply lg:w-full text-white flex justify-center bg-[#12192C];
}

.hero-title {
    @apply container m-auto;
}

.first-title {
    @apply text-2xl text-center mx-auto lg:text-start lg:text-4xl text-orange-600 py-3;
}

.second-title {
    @apply text-5xl text-white text-center mx-auto lg:text-start;
}

.first-paragraph {
    @apply text-lg text-center mx-auto lg:text-start lg:text-2xl py-3 lg:mr-[40%];
}

.btn-container {
    @apply z-0 flex p-4 justify-center lg:justify-start;
}

.btn {
    @apply px-2 lg:px-4;
}

#hero {
    background-image: url(../assets/img/banner-home.jpg);
    background-size: 800px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
}

/* ! Hero Section */

/* ! About Section */

#about {
    background-image: url(../assets/img/about-background.gif);
    background-size: 800px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ! About Section */
