@tailwind base;
@tailwind components;
@tailwind utilities;

/* * Style scrollbar config */

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

/* * Style scrollbar config */

/* ! Styles */

.li-hover {
    @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text-orange-500 duration-300 px-8;
}

/* ! Hero Section */

#hero {
    background-image: url(../assets/img/banner-home.jpg);
    background-size: 800px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
}

/* ! Hero Section */
